/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/config/parameters.yml
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/vendor/
/composer.lock
/composer
/composer.phar
/web/bundles/
/web/uploads/
/web/css/
/web/js/
/web/compiled
/phpunit.xml
/build/*
!build/.gitkeep
/.idea/
/bin/
/var/
